body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: large;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-layout {
    background-color: rgb(197, 245, 178);
    height: 500px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.data {
    margin-top: 50px;
}

.data input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 5px;
    padding: 0 10px;

}

.data button {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: white;
    font-size: 16px;
    background-color: rgb(27, 27, 27);
}

.todo-item {

    margin: 15px auto;
    width: 565px;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    font-weight: 600;
    align-items: center;
}
.todo-item span{
    text-align: left;
}
.todo-delete-btn {
    width: 100px;
    height: 30px;
   
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: white;
    font-size: 16px;
    background-color: rgba(252, 68, 68, 0.952);
}
/* .todo-complete-btn {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .todo-complete-btn.completed {
    background-color: #34c759;  
  } */

  .todo-complete-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    display: block;
  }
  
  .todo-complete-btn.completed {
    background-color: #34c759;

  }
  .modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0); */
    justify-content: center;
    align-items: center;
  }
  
  .modal.show {
    display: flex;
  }
  
  .modal-content {
    background-color: transparent !important;
    padding: 20px;
    border-radius: 10px;
  }
  
  .modal-content img {
    width: 500px;
    height: 500px;
    margin: 20px auto;
  }